.educationBox{
    margin-bottom: 20px;
}

.education{
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}

.education input{
    background-color: #effcffad;
    border: 1px solid #2f435a;
    border-radius: 5px;
    width: 52%;
    height: 25px;
    margin-bottom: 10px;
}

.btnDelete{
    padding: 7px 30px;
    font-size: 0.8rem;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #2f435a;
    color: #E9B1A3;
    box-shadow: 0px 5px 8px rgba(47, 67, 90, 0.8);
    cursor: pointer;
}

.btnDelete:hover{
    background-color: #effcffad;
    color: #2f435a;
}